.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #5f1618cf;
    border: 1px solid #701a1c;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
h6, .h6 {
    font-size: 12px;
    color: white;
}
.btn-info {
    color: #fff;
    background-color: #d03539;
    border-color: #9a272a;
}
.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info, .btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus{
    color: #fff;
    background-color: #ce7d7e;
    border-color: #ce8281;
}
.btn-info:hover {
    color: #fff;
    background-color: #ce7d7e;
    border-color: #ce8281;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -60px;
}
.img-circle{
}