body{
    background: url('../picture/bg1.jpg');
    background-size: cover;
}
.header{
    height: 10%;
    margin-bottom: 3%;
}
.header h3{
    float: left;
    font-family: raleway;
    color: #98252A;
    margin-left: 2%; 
    font-size: 35px;
    margin-top: 1%;
}
.header h3:hover{
    cursor: default;
}
.header a{
    float: right;
    margin: 1%;
    line-height: 3;
    font-family: raleway;
    margin-right: 2%;
    color: #98252A;
    text-decoration: none;
}
.header a:hover{
    color:#976F5E;
    transition: 0.5s;
}
.head{
    text-align: center;
    margin-bottom: 16px;
}
.head a{
    font-family: lato;
    color: #98252A;
    font-size: 32px;
}
.head a:hover{
    cursor: default;
}
input[type="button"]{
    width: 10%;
    height: 5.2%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border:none;
    outline: none;
    background-color: rgba(112, 26, 28, 0.85);
    padding: 7px;
    text-align: center;
    color:dimgray;
    margin-top: 5px;
    margin-right: 0.3%;
    font-family: lato;
    float: left;
    margin-left: 39.6%;
}
input[type="text"], input[type="password"], input[type="file"]{
    width: 22%;
    height: 5.2%;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(112, 26, 28, 0.85);
    padding: 7px;
    text-align: center;
    color:dimgray;
    margin-top: 5px;
    float: left;
    margin-left: 39.6%;
}
.select, input[type="number"], input[type="date"]{
    width: 11.6%;
    height: 5.2%;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(112, 26, 28, 0.85);
    padding: 7px;
    text-align: center;
    color:dimgray;
    margin-top: 5px;
    float: left;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="text"]:hover, input[type="password"]:hover{
    background: none;
    border: 2px solid #5F1617;
    color: white;
    transition: 0.7s;
}
.select:focus, .select:hover, input[type="number"]:focus, input[type="date"]:focus, input[type="number"]:hover, input[type="date"]:hover{
    background: none;
    border: 2px solid #5F1617;
    color: dimgray;
    transition: 0.7s;
}
input[type="submit"]{
    width: 12%;
    height: 5%;
    border-radius: 8px;
    border: 3px solid #5F1617;
    margin: 7px;
    outline: none;
    background:none;
    color: #98252A;
    float: left;
    margin-left: 44.2%;
}
input[type="submit"]:focus, input[type="submit"]:hover{
    background-color: #5F1617;
    border: none;
    color: dimgray;
    transition: 1s;
}
.footer{
    text-align: center;
    padding: 1%;
    margin-top: 23.5%;
    margin-left: -1%;
    width: 99.5%;
    position: fixed;
}
.footer a{
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    font-family: lato;
    font-size: 13px;
}
.footer a:hover{
    color: orange;
    transition: 0.5s;
    cursor: pointer;
}