body{
    background-color: white;
    background-size: cover;
}
.navbar{
    margin-bottom: 0%;
}
.navbar , .navbar-inverse , .navbar-fixed-top {
    background-color: transparent;
    border:none;
    padding: 1.2%;
}
.fix{
    background-color: rgb(112, 26, 28);
    transition: all .5s;
}
.navbar-brand{
	font-family: raleway;
	font-size: 35px;
}
.navbar-brand:focus, .navbar-brand:hover{
	transition: 0.7s;
	font-size: 37px;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand :focus{
	color: rgb(137, 27, 30);
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: raleway;
    font-size: 22px;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    background-color: rgb(95, 22, 24);
}
.container{
    margin-top: 3%;
}
img{
    width: 100%;
}
input[type="text"]{
	background-color: rgb(95, 22, 24);
	border: 2px solid white;
}
input[type="text"]:hover, input[type="text"]:focus{
	background-color: white;
	border: none;
	transition: 0.8s;
}
.btn:focus, .btn:hover{
	border: none;
}
.thumbnail {
    background-color: #68161a !important;
    border: none;
}
h3, .h3 {
    font-size: 20px;
    color: white;
}
.btn-primary {
    color: #fff;
    background-color: #aa2f34;
    border-color: #872c2f;
}
.btn-primary:hover, .btn-primary:focus{
    background-color: #db5c61;
}
.btn-default {
    color: #aa2f34;
    background-color: #fff;
    border-color: #ccc;
}
.dropdown-menu {
    background-color: #891b1e;
    min-width: 100%;
}
.dropdown-menu > li > a {
    color: #fff;
    padding: 5%;
    padding-left: 15%;
}
.modal-content {
    margin-top: 50%;
    background-color: #891b1e;
    border: none;
}
.bawah{
    text-align: center;
    padding: 1%;
    margin-left: -1%;
    width: 101%;
    background-color: rgb(112, 26, 28);
}
.bawah a{
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    font-family: lato;
    font-size: 13px;
}
.bawah a:hover{
    color: #68161a;
    transition: 0.5s;
    cursor: pointer;
}
.modal-content {
    margin-top: 50%;
    background-color: #891b1e;
    border: none;
    padding: 50px;
    border-radius: 10px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 15px;
}
.troli{
    background-color: white;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}
.troli:hover, .troli:focus{
    transition: 0.5s;
    background-color: gold;
    width: 35%;
}