body{
    background: url('../picture/bg1.jpg');
    background-size: cover;
}
.header{
    height: 10%;
    margin-bottom: 3%;
}
.header h3{
    float: left;
    font-family: raleway;
    color: #98252A;
    margin-left: 2%; 
    font-size: 35px;
    margin-top: 1%;
}
.header h3:hover{
    cursor: default;
}
.header a{
    float: right;
    margin: 1%;
    line-height: 3;
    font-family: raleway;
    margin-right: 2%;
    color: #98252A;
    text-decoration: none;
}
.header a:hover{
    color:#976F5E;
    transition: 0.5s;
}
.head{
    text-align: center;
    margin-bottom: 16px;
}
.head a{
    font-family: lato;
    color: #98252A;
    font-size: 32px;
}
.head a:hover{
    cursor: default;
}
input[type="text"], input[type="password"]{
    width: 20%;
    height: 7%;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(112, 26, 28, 0.85);
    padding: 7px;
    text-align: center;
    color:#976F5E;
    margin-top: 10px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="text"]:hover, input[type="password"]:hover{
    background: none;
    border: 2px solid #5F1617;
    color: white;
    transition: 0.7s;
}
input[type="submit"]{
    width: 12%;
    height: 7%;
    border-radius: 8px;
    border: 3px solid #5F1617;
    margin: 13px;
    outline: none;
    background:none;
    color: #98252A;
}
input[type="submit"]:focus, input[type="submit"]:hover{
    background-color: #5F1617;
    border: none;
    color: #976F5E;
    transition: 1s;
}